<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
	</head>
	<body>
		<div class="cont">
			<h2 class="init">
				<span id="hasCookie"></span>
				<a href="###" id="user"></a>
				<a href="###" id="secede">退出登录</a>
			</h2>
			<div class="article">
				深夜好文，点击阅读
				<div id="article_inner">
					需要登录才能查看文章内容
					<!--<a href="###">《文章本天成》,作者： 评论人数：</a>
					<a href="###">《文章本天成》,作者： 评论人数：</a>
					<a href="###">《文章本天成》,作者： 评论人数：</a>
					<a href="###">《文章本天成》,作者： 评论人数：</a>
					<a href="###">《文章本天成》,作者： 评论人数：</a>-->
				</div>
			</div>
		</div>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
